.Quote {
  border: 2px dashed #666;
  margin-bottom: 0.5em;
  width: 30vw;
  margin: 5px auto;
}
.Quote:hover {
  color: fuchsia;
}

.Quote__symbol {
  font-size: 120%;
  color: #666;
  padding: 0 2px;
}
