.Votes {
  width: 30vw;
  height: 20vh;
  border: 3px solid teal;
  padding: 2px;
  margin: 2px auto;
  text-align: left;
}

.Votes label {
  font-weight: bold;
  /* display: inline-block; */
  width: 6em;
}

.Votes p {
  margin-top: 8px;
  margin-bottom: 2px;
}

.Votes__bar {
  height: 8px;
  margin-bottom: 10px;
}

.Votes__bar--chocolate {
  background-color: brown;
}
.Votes__bar--vanilla {
  background-color: bisque;
}
.Votes__bar--strawberry {
  background-color: lightpink;
}
